/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

/* Base imports */
@import "tailwindcss/base";

@layer base {
    #root, body, html, .app {
        margin: auto;
        height: 100%;
        width: 410px;
        color: aqua;
        overflow: hidden;
        background-color: #010026;
        @apply text-white;
    }
}

/* Components imports */
@import "tailwindcss/components";

/* Utility imports */
@import "tailwindcss/utilities"